// Privacy.module.scss
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
    line-height: 1.6;;
  }
  
  .content {
    width: 80%;
    max-width: 800px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: justify;
  }
  
  h1, h2, h3 {
    color: #333;
    font-size: 2rem;
  }
  
  ul {
    padding-left: 20px;
  }
  
  p, ul {
    margin-bottom: 20px;
    font-size: 1.5rem;
  }
  